##### Introduction to Dictionaries
Dictionaries are unordered collections of items. They store data in key-value pairs. Keys must be unique and immutable (e.g., Strings, numbers, or tuples), while values can be of any type.

In [30]:
## Creating Dictionaries
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [31]:
empty_dict=dict()
empty_dict

{}

In [32]:
student = {"name": "Krish", "age": 32, "grade": 24}
print(student)
print(type(student))

{'name': 'Krish', 'age': 32, 'grade': 24}
<class 'dict'>

In [33]:
#Error #Single key is always used
student={"name": "Krish", "age": 32, "name": 24}
print(student)

{'name': 24, 'age': 32}

In [34]:
student={"name": "Krish", "age": 32, "grade": 'A'}
print(student)

{'name': 'Krish', 'age': 32, 'grade': 'A'}

In [35]:
# Accessing Dictionary Elements 
print(student['grade'])
print(student['age'])

## Accessing using get() method
print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name', "Not Available"))

A
32
A
None
Not Available

In [36]:
## Modifying Dictionary Elements
## Dictionary are mutable, so you can add, update or delete elements
print(student)

{'name': 'Krish', 'age': 32, 'grade': 'A'}

In [37]:
student["age"]=33
print(student)
student["address"]="India"
print(student)

{'name': 'Krish', 'age': 33, 'grade': 'A'}
{'name': 'Krish', 'age': 33, 'grade': 'A', 'address': 'India'}

In [38]:
del student['grade'] ## delete key and value pair
print(student)

{'name': 'Krish', 'age': 33, 'address': 'India'}

In [39]:
## Dictionary methods

keys=student.keys()  ##get all the keys
print(keys)
values=student.values() ##get all values
print(values)

items=student.items()    ## get all key value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Krish', 33, 'India'])
dict_items([('name', 'Krish'), ('age', 33), ('address', 'India')])

In [40]:
## shallow copy
student_copy = student
print(student)
print(student_copy)

{'name': 'Krish', 'age': 33, 'address': 'India'}
{'name': 'Krish', 'age': 33, 'address': 'India'}

In [41]:
student["name"]="Krish2"
print(student)
print(student_copy)

{'name': 'Krish2', 'age': 33, 'address': 'India'}
{'name': 'Krish2', 'age': 33, 'address': 'India'}

In [42]:
student_copy1=student.copy()        ## shallow copy
print(student_copy1)
print(student)

{'name': 'Krish2', 'age': 33, 'address': 'India'}
{'name': 'Krish2', 'age': 33, 'address': 'India'}

In [43]:
student["name"] = "Krish3"
print(student_copy1)
print(student)

{'name': 'Krish2', 'age': 33, 'address': 'India'}
{'name': 'Krish3', 'age': 33, 'address': 'India'}

In [44]:
### Iterating Over Dictionaries
## You can use loops to iterate over dictionaries, keys, values, or items

## Iterating over keys
for keys in student.keys():
    print(keys)

name
age
address

In [45]:
## Iterate over values
for value in student.values():
    print(value)

Krish3
33
India

In [ ]:
## Iterate over key-value pairs
for key, value in student.items():
    print(f"{key}:{value}")

name:Krish3
age:33
address:India

In [47]:
## Nested Dictionaries
students={
    "student1": {"name": "Krish", "age": 32},
    "student2": {"name": "Peter", "age": 35}
}
print(students)

{'student1': {'name': 'Krish', 'age': 32}, 'student2': {'name': 'Peter', 'age': 35}}

In [48]:
## Access nested dictionaries elements
print(students["student2"]["name"])
print(students["student2"]["age"])

Peter
35

In [49]:
students.items()

dict_items([('student1', {'name': 'Krish', 'age': 32}), ('student2', {'name': 'Peter', 'age': 35})])

In [50]:
## Iterating over nested dictionaries
for student_id, student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key, value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'Krish', 'age': 32}
name:Krish
age:32
student2:{'name': 'Peter', 'age': 35}
name:Peter
age:35

In [51]:
## Dictionary Comprehension
squares = {x:x**2 for x in range(10)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [52]:
## Condition dictionary comprehension
evens = {x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [53]:
## Practical Examples

## Use a dictionary to count the frequency of elements in list

numbers = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
frequency = {}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [56]:
## Merge 2 dictionaries into one

dict1={"a":1, "b":2}
dict2={"b":3, "c":4}
merged_dict={**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}