# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
# 1st answer

tpl = tuple(range(1, 11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [3]:
# 2nd answer

print(f"The First Element is: {tpl[0]}")
print(f"The Middle Element is: {len(tpl) // 2}")
print(f"The Last Element is: {tpl[-1]}")

The First Element is: 1
The Middle Element is: 5
The Last Element is: 10

In [8]:
# 3rd answer

print(f"The First Three elements are: {tpl[:3]}")
print(f"The First Three elements are: {tpl[1:5]}")
print(f"The Last Three elements are: {tpl[7:]}")

The First Three elements are: (1, 2, 3)
The First Three elements are: (2, 3, 4, 5)
The Last Three elements are: (8, 9, 10)

In [10]:
# 4th answer

matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print("Matrix:")
for row in matrix:
    print(row)
print(f"Element at second row and third column: {matrix[1][2]}")

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at second row and third column: 6

In [11]:
# 5th answer

tpl1 = (1, 2, 3)
tpl2 = (4, 5, 6)
concatenated_tpl = tpl1 + tpl2
print(concatenated_tpl)

(1, 2, 3, 4, 5, 6)

In [14]:
# 6th answer

tpl = (1, 2, 2, 3, 3, 3, 4, 4, 4, 4)
print(f"Occurrences of 3: {tpl.count(3)}")
print(f"Index of first occurrence of 4: {tpl.index(4)}")

Occurrences of 3: 3
Index of first occurrence of 4: 6

In [16]:
# 7th answer

tpl = (1, 2, 3, 4, 5)
a, b, c, d, e = tpl
print(a, b, c, d, e)

1 2 3 4 5

In [17]:
# 8th answer

lst = list(range(1, 6))
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

In [18]:
# 9th answer

tpl = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print(tpl)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [19]:
# 10th answer

tpl = tuple(range(1, 6))
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 6)

In [20]:
# 11th answer

string = "hello"
tpl = tuple(string)
joined_tpl = ' '.join(tpl)
print(joined_tpl)

h e l l o

In [23]:
# 12th answer

tpl_dict = (
    (1, 2), 3,
    (4, 5), 6,
    (7, 8), 9
)
print(tpl_dict)

((1, 2), 3, (4, 5), 6, (7, 8), 9)

In [21]:
# 13th answer

nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for tpl in nested_tpl:
    for elem in tpl:
        print(elem)

1
2
3
4
5
6
7
8
9

In [24]:
# 14th answer

tpl = (1, 2, 2, 3, 3, 3, 4, 5, 5, 6)
set = set(tpl)
print(set)

{1, 2, 3, 4, 5, 6}

In [25]:
# 15th answer

def min_of_tuples(tpl):
    return min(tpl)
def max_of_tuples(tpl):
    return max(tpl)
def sum_of_tuples(tpl):
    return sum(tpl)

sample_tuple = {1, 2, 4, 6, 8, 11, 15}
print(f"Minimum: {min_of_tuples(sample_tuple)}")
print(f"Maximum: {max_of_tuples(sample_tuple)}")
print(f"Sum: {sum_of_tuples(sample_tuple)}")

Minimum: 1
Maximum: 15
Sum: 47