##### TUPLES

Explanation:
Tuples are ordered collections of items that are immutable. They are similar to lists, but their 
immutability makes them different.

In [1]:
## Creating a tuple 
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers=tuple([1, 2, 3, 4, 5, 6])
numbers

(1, 2, 3, 4, 5, 6)

In [4]:
list((1, 2, 3, 4, 5, 6))

[1, 2, 3, 4, 5, 6]

In [5]:
mixed_tulples = (1, "Hello world", 3.44, True)
print(mixed_tulples)

(1, 'Hello world', 3.44, True)

In [6]:
## Accessing the Elements

numbers

(1, 2, 3, 4, 5, 6)

In [7]:
print(numbers[2])
print(numbers[-1])

3
6

In [8]:
numbers[0:4]

(1, 2, 3, 4)

In [9]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [10]:
## Tuple operations

concatenation_tuple=numbers + mixed_tulples
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello world', 3.44, True)

In [11]:
mixed_tulples * 3

(1,
 'Hello world',
 3.44,
 True,
 1,
 'Hello world',
 3.44,
 True,
 1,
 'Hello world',
 3.44,
 True)

In [12]:
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [13]:
## Immutable Nature of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1, 2, 3, 4, 5]
print(lst)

lst[1]="krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'krish', 3, 4, 5]

In [14]:
numbers[1] = "Krish"

TypeError: 'tuple' object does not support item assignment

In [ ]:
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
## Tuple methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [ ]:
## Packing and Unpacking tuple
## Packing
packed_tuple = 1, "Hello", 3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [ ]:
## Unpacking a tuple
a, b, c= packed_tuple

print(a)
print(b)
print(c)

NameError: name 'packed_tuple' is not defined

In [15]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first, *middle, last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:
## Nested tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [ ]:
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[2][0:3]

[1, 'Hello', 3.14]

In [ ]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [ ]:
## Iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 3
a b c
True False

##### Conclusion
Tuples are vesatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readibility of your python code.